@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stackText::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  top: 0;
  right: -20px;
}


.aboutHeader::before{
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
}