@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stackText::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  top: 0;
  right: -20px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.path {
  stroke-dasharray: 0; /* zostanie zaktualizowane za pomocą JavaScript */
  stroke-dashoffset: 0; /* zostanie zaktualizowane za pomocą JavaScript */
  /* animation: draw 5s linear forwards; */
  opacity: 0;
}

.aboutHeader::before{
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
}