@tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wordcloud {
    display: flex;
    flex-direction: column;
    user-select: none;
  }
  .wordcloud svg {
    margin: 1rem 0;
    cursor: pointer;
  }

  .wordcloud label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 8px;
  }
  .wordcloud textarea {
    min-height: 100px;
  }
  
  .stackText::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    top: 0;
    right: -20px;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .path {
    stroke-dasharray: 0; /* zostanie zaktualizowane za pomocą JavaScript */
    stroke-dashoffset: 0; /* zostanie zaktualizowane za pomocą JavaScript */
    /* animation: draw 5s linear forwards; */
    opacity: 0;

  }
  
  .aboutHeader::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
  }
  
  .techCardShadow {
    -webkit-box-shadow: 13px 16px 50px 7px #151515;
    -moz-box-shadow: 13px 16px 50px 7px #151515;
    box-shadow: 13px 16px 50px 7px #151515;
  }
  
  @media (max-width: 640px) {
    .glass {
      /* From https://css.glass */
  
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.8px);
      -webkit-backdrop-filter: blur(10.8px);
    }
  }
  
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  